# Configure database environments
# Required fields are: server, port, database, collection

development:
  server:     devmongo
  port:       27017
  database:   nessus
  collection: scans

production:
  server:     mongo
  port:       27017
  database:   nessus
  collection: scans
